---
import Executive from "../components/executive.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='About Us'>
  <section class='py-20 bg-[#070707] min-h-screen'>
    <div class='img-gradient aboutImage opacity-0 blur-[18px]'>
      <img
        class='z-0 w-full object-cover max-h-[70vh]'
        src='/koncepttechppls.jpg'
        alt=''
      />
    </div>
    <div
      class='firstHorizontalWrapper leading-relaxed text-gray-400 flex flex-col gap-8'
    >
      <h1
        class='text-3xl aboutTitle md:text-4xl xl:text-5xl z-10 -mt-36 mb-8 leading-tight font-audiowide tracking-wide text-gray-200'
      >
        Koncept-Tech, a leading software development company based in Dhaka,
        Bangladesh.
      </h1>
      <p class='indent-8 revealEl'>
        Founded and run by the <b class="text-gray-300">NSU alumni</b> , we take price in our roots at North South University and our commitment to excellence in software development. Koncept-Tech is dedicated to providing exceptional software
        development services.
        Specializing in <b class='text-gray-200'
          >custom software, web applications, and AI-based solutions.</b
        > Our innovative approach and commitment to excellence set us apart as we
        work towards transforming the future of technology.
      </p>
    


      <div id="executive-section" class="py-20 revealEl">
        <h3 class="text-3xl xl:text-4xl font-audiowide text-gray-200 ">Meet our executives</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-y-20 xl:gap-8 pt-20">
          <Executive name="Mohammad Abdul" body="Lorem ipsum something something." href="/ex.png" />
          <Executive name="Mohammad Abdul" body="Lorem ipsum something something." href="/ex.png" />
          <Executive name="Mohammad Abdul" body="Lorem ipsum something something." href="/ex.png" />
        </div>

      </div>

      <p class="indent-8 revealEl">
        Our team of experienced <b class='text-gray-300'>
          software developers, web developers, and AI experts
        </b> is passionate about delivering scalable, robust, and efficient solutions
        tailored to our clients' unique needs. We prioritize client satisfaction
        and take a collaborative approach to understand their requirements and goals
        fully. We use cutting-edge technologies and tools to ensure that our solutions
        are future-proof, and we continuously push the boundaries of innovation.
        Our expertise covers the development of <b class='text-gray-300'
          >high-quality software applications for PC, Android, and iOS platforms</b
        >, as well as <b class='text-gray-300'>
          custom hardware design, including 3D printing.</b>
      </p>
      <p class="indent-8 revealEl">
        We are also actively engaged in the development of <b class="text-gray-300"> military-grade
        artificial intelligence-enhanced drones, smartphone products, and
        various other AI-enhanced projects.</b> These advanced technologies are
        paving the way for <b> next-generation solutions with improved security,
        efficiency, and precision.</b> In addition to our software development
        services, we offer a range of comprehensive programming courses in C,
        C++, Java, and Python, as well as IELTS and SAT preparation. Our
        accelerated courses, taught by experienced instructors, are designed to
        take individuals from beginner to expert level in just three months. We
        provide guidance and support every step of the way, empowering students
        to enhance their software development skills and thrive in the
        ever-evolving tech industry. Join us at Koncept-Tech as we shape the
        future of technology together.
      </p>
      <div class='mt-20 revealEl indent-8 text-gray-300'>
        <p class="italic text-sm">
        Follow our <a class="underline text-amber-500 underline-offset-2" target="_blank" href="https://www.facebook.com/profile.php?id=100089231107942">Facebook page</a>  for updates on our latest projects, services,
        and achievements. To learn more about our services or to discuss how we
        can help you achieve your goals, please don't hesitate to <a class="underline text-amber-500 underline-offset-2" href="/contact">contact us.</a> </p>
      </div>
    </div>
    
  </section>
</Layout>

<style>
  .image-gradient {
    background: linear-gradient(360deg, #070707 0%, rgba(0, 0, 0, 0) 46.52%);
  }
 
</style>
<script>
  import gsap from 'gsap';
  const body = document.querySelector("body");
  body.onload = function () {

  gsap.from(['.aboutTitle', '.revealEl'], {
    opacity: 0,
    y: 80,
    duration: 1.8,
    ease: 'Expo.easeOut',
    stagger: 0.3,

  })
  gsap.from('.aboutImage', {
    opacity: 0,
  

  })
  gsap.to('.aboutImage', {
    opacity: 1,
    filter: 'blur(0px)',
   
    duration: 1.8,
    ease: 'Expo.easeOut'

  })
}

</script>