---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Contact Us'>
  <section class='py-20 bg-[#070707] min-h-screen'>
    <div class='firstHorizontalWrapper'>
      <h1 class='text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl mb-8 leading-tight mt-16 font-orbitron tracking-wide text-gray-200'>
        Koncept-Tech, a leading software development company based in
        Dhaka, Bangladesh.
      </h1>
      <p class="indent-8 leading-relaxed text-gray-300">
        Specializing in <b>custom software, web applications, and AI-based
          solutions.</b>  Our innovative approach and commitment to excellence set us
        apart as we work towards transforming the future of technology. Founded
        and run by North South University alumni, Koncept-Tech is proud of its
        roots and dedication to providing exceptional software development
        services. Our team of experienced software developers, web developers,
        and AI experts is passionate about delivering scalable, robust, and
        efficient solutions tailored to our clients' unique needs. Our
        headquarters is situated in the heart of Bashundhara Residential Area at
        Mashallah Trade Centre, Level-5, Block-I (Near Walton Office). At
        Koncept-Tech, we prioritize client satisfaction and take a collaborative
        approach to understand their requirements and goals fully. We use
        cutting-edge technologies and tools to ensure that our solutions are
        future-proof, and we continuously push the boundaries of innovation. Our
        expertise covers the development of high-quality software applications
        for PC, Android, and iOS platforms, as well as custom hardware design,
        including 3D printing. We are also actively engaged in the development
        of military-grade artificial intelligence-enhanced drones, smartphone
        products, and various other AI-enhanced projects. These advanced
        technologies are paving the way for next-generation solutions with
        improved security, efficiency, and precision. In addition to our
        software development services, we offer a range of comprehensive
        programming courses in C, C++, Java, and Python, as well as IELTS and
        SAT preparation. Our accelerated courses, taught by experienced
        instructors, are designed to take individuals from beginner to expert
        level in just three months. We provide guidance and support every step
        of the way, empowering students to enhance their software development
        skills and thrive in the ever-evolving tech industry. Join us at
        Koncept-Tech as we shape the future of technology together.
      </p>
      <div class="mt-8 indent-8 text-gray-300">
        Follow our Facebook page for updates on our latest projects, services,
        and achievements. To learn more about our services or to discuss how we
        can help you achieve your goals, please don't hesitate to contact us.
      </div>
    </div>
  </section>
</Layout>
