---
import Layout from "../layouts/Layout.astro";
---

<Layout title='KONCEPT-TECH - Courses'>
  <section class='bg-[#070707] py-20 min-h-screen'>
    <div class='img-gradient courseImage opacity-0 blur-[18px]'>
      <img
        class='z-[-1] w-full object-cover max-h-[70vh]'
        src='/coursesImage.jpg'
        alt=''
      />
    </div>
    <main class='firstHorizontalWrapper'>
      <div class='mx-auto max-w-3xl'>
        <div class="z-10 relative">
        <h2 class='-mt-36 courseDesc mb-20'>
          We offer a range of comprehensive programming courses in C, C++, Java, and Python, as well as IELTS and SAT preparation. Our accelerated courses, taught by experienced instructors, are designed to take individuals from beginner to expert level in just three months. We provide guidance and support every step of the way, empowering students to enhance their software development skills and thrive in the ever-evolving tech industry. Join us at Koncept-Tech as we shape the future of technology together.
        </h2>
      </div>
        <form id='coursesForm' onsubmit="return validateForm()">
          <div class="revealEl">
          <label
          for='course'
          class='block mb-2 text-sm font-medium text-white'
          >Select courses</label
        >
          <p id='checkbox-error' class='text-red-500 text-sm hidden py-2'>
            Please select at least one option.
          </p>
          <ul
            class='items-center mb-6 w-full text-sm font-medium border rounded-lg md:flex bg-gray-700 border-gray-600 text-white'
          >
            <li
              class='w-full border-b md:border-b-0 md:border-r border-gray-600'
            >
              <div class='flex items-center pl-3'>
                <input
              
                  id='c-checkbox-list'
                  type='checkbox'
                  value=''
                  name='checkbox'
                  class='w-4 checkbox h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                />
                <label
                  for='c-checkbox-list'
                  class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                  >C</label
                >
              </div>
            </li>
            <li
              class='w-full border-b md:border-b-0 md:border-r border-gray-600'
            >
              <div class='flex items-center pl-3'>
                <input
                  name='checkbox'
                  id='cpp-checkbox-list'
                  type='checkbox'
                  value=''
                  class='w-4 h-4 checkbox text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                />
                <label
                  for='cpp-checkbox-list'
                  class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                  >C++</label
                >
              </div>
            </li>
            <li
              class='w-full border-b md:border-b-0 md:border-r border-gray-600'
            >
              <div class='flex items-center pl-3'>
                <input
                  name='checkbox'
                  id='java-checkbox-list'
                  type='checkbox'
                  value=''
                  class='w-4 h-4 checkbox text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                />
                <label
                  for='java-checkbox-list'
                  class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                  >Java</label
                >
              </div>
            </li>
            <li class='w-full border-b md:border-b-0 md:border-r border-gray-600'>
              <div class='flex items-center pl-3'>
                <input
                 
                  name='checkbox'
                  id='python-checkbox-list'
                  type='checkbox'
                  value=''
                  class='w-4 h-4 checkbox text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                />
                <label
                  for='python-checkbox-list'
                  class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                  >Python</label
                >
              </div>
            </li>
            <li class='w-full border-gray-600'>
              <div class='flex items-center pl-3'>
                <input
                 
                  name='checkbox'
                  id='ielts-checkbox-list'
                  type='checkbox'
                  value=''
                  class='w-4 h-4 checkbox text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                />
                <label
                  for='ielts-checkbox-list'
                  class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                  >IELTS</label
                >
              </div>
            </li>
          </ul>
        </div>

          <div class="revealEl">
             <label
                for='email'
                class='block mb-2 text-sm font-medium text-white'
                >Your email</label
              >
            <div class='relative mb-6'>
              <div
                class='absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none'
              >
                <svg
                  aria-hidden='true'
                  class='w-5 h-5 text-gray-400'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z'
                  ></path><path
                    d='M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z'
                  ></path></svg
                >
              </div>
              <input
                type='email'
                id='email'
                class='border text-sm rounded-lg block w-full pl-10 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
                placeholder='example@email.com'
                required
              />
            </div>
          </div>
          <div class="revealEl">
            <label
            for='name'
            class='block mb-2 text-sm font-medium text-white'
            >Your name</label
          >
            <div class='mb-6'>
              <input
                type='text'
                id='name'
                class='border text-sm rounded-lg block w-full pl-6 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
                placeholder='John Doe'
                required
              />
            </div>
          </div>
          <div class="revealEl">
            <div class='mb-6'>
              <label
                for='address'
                class='block mb-2 text-sm font-medium text-white'
                >Your address</label
              >
              <input
                type='text'
                id='address'
                class='border text-sm rounded-lg block w-full pl-6 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
                placeholder='123 Street'
                required
              />
            </div>
          </div>
          <div class="revealEl">
            <div class='mb-6'>
              <label
                for='phone'
                class='block mb-2 text-sm font-medium text-white'
                >Phone number</label
              >
              <input
                type='tel'
                id='phone'
                class='border text-sm rounded-lg block w-full pl-6 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
                placeholder='0123456789'
                pattern='[0-9]{11}'
                required
              />
            </div>
          </div>
          <div class='mb-8 revealEl'>
            <label for='phone' class='block mb-2 text-sm font-medium text-white'
              >Prefered class method</label
            >
            <ul
              class='items-center w-full text-sm font-medium border rounded-lg sm:flex bg-gray-700 border-gray-600 text-white'
            >
              <li
                class='w-full border-b sm:border-b-0 sm:border-r border-gray-600'
              >
                <div class='flex items-center pl-3'>
                  <input
                    required
                    id='horizontal-list-radio-online'
                    type='radio'
                    value=''
                    name='list-radio'
                    class='w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                  />
                  <label
                    for='horizontal-list-radio-online'
                    class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                    >Online</label
                  >
                </div>
              </li>
              <li class='w-full border-gray-600'>
                <div class='flex items-center pl-3'>
                  <input
                    id='horizontal-list-radio-offline'
                    type='radio'
                    value=''
                    name='list-radio'
                    class='w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500'
                  />
                  <label
                    for='horizontal-list-radio-offline'
                    class='w-full py-3 ml-2 text-sm font-medium text-gray-300'
                    >Offline</label
                  >
                </div>
              </li>
            </ul>
          </div>

          <input
           value="Submit"
            type='submit'
            
            id='submitButton'
            class='text-white revealEl cursor-pointer focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 disabled:bg-gray-500 focus:ring-blue-800'
            />
          
        </form>
      </div>
    </main>
  </section>
</Layout>

<script is:inline>
  let c = document.querySelector("#c-checkbox-list");
  let cpp = document.querySelector("#cpp-checkbox-list");
  let java = document.querySelector("#java-checkbox-list");
  let python = document.querySelector("#python-checkbox-list");
  let ielts = document.querySelector("#ielts-checkbox-list");

  let checkboxError = document.querySelector("#checkbox-error");
  let submitButton = document.querySelector("#submitButton");
  const coursesForm = document.querySelector("#coursesForm");
  

  function validateForm() {
    if (c.checked || cpp.checked || python.checked || java.checked || ielts.checked) {
      checkboxError.style.display = "none";
      return true;
    } else {
      console.log("none is checked");
      checkboxError.style.display = "block";
      return false;
    }
  }


  submitButton.addEventListener('click', function(){
    validateForm()
  })

   document.querySelectorAll(".checkbox").forEach((item) => {
    item.addEventListener("change", (event) => {
      if (c.checked || cpp.checked || python.checked || java.checked || ielts.checked) {
        checkboxError.style.display = "none";
        return true;
      } else {
        console.log("none is checked");
        checkboxError.style.display = "block";
        return false;
      }
    });
  });


</script>



<script>
  import gsap from 'gsap';
  const body = document.querySelector("body");
  
  body.onload = function () {

  gsap.from('.courseDesc', {
    opacity: 0,
    y: 80,
    duration: 1.8,
    ease: 'Expo.easeOut'

  })
  gsap.from('.courseImage', {
    opacity: 0,
    // filter: 'blur(18px)',
  

  })
  gsap.to('.courseImage', {
    opacity: 1,
    filter: 'blur(0px)',
   
    duration: 1.8,
    ease: 'Expo.easeOut'

  })
  gsap.from(['.revealEl'], {
     opacity: 0,
     y: 80,
     duration: 1.8,
     ease: 'Expo.easeOut',
     stagger: 0.2,
   
 
   })
  
}

</script>