---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<button
  class='bg-amber-600 text-white rounded-full btn uppercase px-6 py-2 button h-10 ease-in-out transition-all w-fit flex gap-2 items-center'
>
  <span class='text-sm'>{title}</span>
  <div
    class='relative flex overflow-clip items-center justify-center w-6 h-6 rounded-full'
  >
    <img class='absolute img1 duration-500 ease-in-out transition-all w-[50%]' src='/arrowWhite.svg' />
    <img class='absolute img2 duration-500 ease-in-out transition-all translate-y-[200%] w-[45%]' src='/arrowWhiteUpwards.svg' />
  </div>
</button>

