<nav id="navbar" class="w-full z-50 fixed top-0 h-20 navbarBg">
    <div class="flex justify-between wrapper h-full items-center">
        <a class="text-xl font-orbitron font-bold" href="/">KONCEPT-TECH</a>
        <div class="flex gap-8">
            <a href="/">home</a>
            <a href="/courses">courses</a>
            <a href="/about">about</a>
            <a href="/contact">contact</a>

        </div>
    </div>


</nav>

<style>
    .navbarBg{
        @apply bg-[#000000]/10 backdrop-blur-md;

    }


</style>