---
import ButtonWhite from "../../components/ButtonWhite.astro";

---

<section id='buildSection' class='min-h-max background-grid bg-[#070707]'>
  <!-- <div class="border mx-6 horizontalWrapper border-gray-600 border-1 border-dashed"></div> -->
    <div class='py-40 horizontalWrapper'>
      <div class='flex opacity-0 buildSectionTrigger gap-16 flex-col items-center md:flex-row md:justify-between'>
          <div class='flex flex-col max-w-2xl'>
            <!-- <div class="flex flex-col float-right">
                    <h4 class="text-[#787878] flex font-orbitron text-xl float-right font-extrabold">WANTING TO</h4>
                    <h2 class="text-5xl flex float-right">LEARN?</h2> -->
    
            <h4
              class='text-[#787878] font-orbitron text-xl font-extrabold'
            >
              WANTING TO
            </h4>
            <h2 class='text-4xl sm:text-5xl lg:text-6xl font-orbitron font-extrabold'>BUILD?</h2>
            <p class="mt-8">
                WE ARE A TEAM OF EXPERIENCED SOFTWARE DEVELOPERS, WEB DEVELOPERS, AND AI EXPERTS/ENGINEERS WHO CAN CREATE CUSTOM SOFTWARE, WEBSITES, AND WEB-BASED APPS TO FIT YOUR NEEDS. OUR SERVICES INCLUDE AI-BASED SOLUTIONS THAT ARE CUTTING-EDGE AND INNOVATIVE.
            </p>
            <div class="mt-8">
                <a class='w-fit flex' href='/contact'>
                  <ButtonWhite title='Contact' />
                </a>
              </div>
          </div>
         <img class='object-cover md:max-w-[20rem]' src='/building.png' alt='' />
      </div>
    </div>
  </section>



  <script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.from('.buildSectionTrigger', {
            y: 50,
            opacity: 0,

            
        })
  gsap.to('.buildSectionTrigger', {
            y: 0,
            opacity: 1,
            ease: 'Expo.easeOut',
            duration: 1.4,
            delay: 0.2,
            scrollTrigger: {
                trigger: '.buildSectionTrigger',
                start: "top bottom",
                // end: "top top",
                // scrub: true,
          
                // markers: true,
                // id: "scrub",
            }
        })




  </script>