---
import ButtonWhite from "../../components/ButtonWhite.astro";
---

<section id='heroSection' class='min-h-screen flex relative'>
  <div
    class='flex firstHorizontalWrapper flex-col gap-8 lg:flex-row pt-20 min-h-screen'
  >
    <div class='flex pt-20 lg:pt-0 items-center lg:w-7/12'>
      <div class='flex flex-col gap-8'>
        <div class="max-w-xl">
          <h2
            class='text-4xl heroTitle lg:text-5xl xl:text-5xl 2xl:text-6xl font-audiowide text-amber-500'
            data-value='Bringing the future closer'
          >
            Bringing the future closer
          </h2>
        </div>
        <p class='heroSubtitle'>
          Specializing in custom software, web applications, and AI-based
          solutions. Our innovative approach and commitment to excellence set us
          apart as we work towards transforming the future of technology. <a
            class='underline underline-offset-2'
            href='/about'>Learn about us</a
          >
        </p>
        <a class='w-fit heroCtabtn flex' href='/contact'>
          <ButtonWhite title='CONTACT' />
        </a>
      </div>
    </div>
    <div class='h-full pb-10 lg:pb-0 lg:w-5/12'>
      <div class='h-full w-full'>
        <img
          class='md:w-full heroImage md:h-full'
          src='/neural-network-brain.svg'
          alt=''
        />
      </div>
    </div>
  </div>
  <div class="absolute hidden md:flex bottom-8 mt-10 ml-[50%] justify-center animate-bounce text-white">
    <svg class="fill-amber-500 w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>
  </div>

</section>
<style>
  #heroSection {
    background-image: url("/heroBg.png");
    background-size: cover;
  }
</style>

<script>
  import gsap from "gsap";
  let tl = gsap.timeline();
  const body = document.querySelector("body");

  body.onload = function () {
    // tl.from(".heroTitle", {
    //   opacity: 0,
    //   y: 80,
    //   skewX: 8,

    //   duration: 1,
    //   ease: "Expo.easeOut",
    // });
    tl.from(
      [".heroTitle", ".heroSubtitle", ".heroCtabtn"],
      {
        opacity: 0,
        y: 80,
        skewX: 8,
        duration: 1,
        ease: "Expo.easeOut",
        stagger: 0.4,
      },
      "-=0.4"
    );
    tl.from(
      ".heroImage",
      {
        opacity: 0,
        skewY: 5,
        // skewX: 5,
        y: 80,
        duration: 2,
        ease: "Expo.easeOut",
      },
      "-=0.5"
    );
  };
</script>
